
/* ============For Tab============== */
@media only screen and (min-width: 200px) and (max-width: 991px){
    .hero-img img{
        width: 100%;
        padding: 0 0;
        padding-top: 10px;
    }
    .hero-area{
        padding: 0;
        padding-left: 10px;
        text-align: center;
        padding-bottom: 10px;
    }
    .hero-text h1 {
        padding-top: 30px;
        margin-bottom: 5px;
        padding-top: 11px;
        text-align: center;
        font-size: 27px;
    }
    .work-area{
        text-align: center;
    }
    .work-big-img{
        margin-bottom: 50px;
    }
    .work-big-img img{
        height: 200px;
        max-width: 250px;
    }
    .work-small{
        text-align: center;
    }

    .contact-today {
        padding: 8px 30px;
    }
    .contact-today h1 {
        font-size: 23px;
    }
    .contact-today p {
        font-size: 11px;
        color: #333333;
    }
    .contact-today button{
        font-size: 16px;
        padding: 12px 6px;
    }
    footer h1 {
        text-align: center;
    }
    .contact-us {
        text-align: center;
    }
    .about {
        text-align: center;
    }
    .about p {
        width: 220px;
        margin: 0px auto;
    }
    .work-small {
        text-align: center;
        margin: 0 auto;
    }
}
/* ============For Mobile============ */
@media only screen and (min-width: 200px) and (max-width: 480px){
    .mini-menu {
        float: none;
        width: 100%;
        text-align: center;
    }
    .social-area {
        float: none;
        padding-top: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .mini-menu ul li {
        padding: 10px 0;
    }
    .logo-area {
        padding: 0px 0;
        margin-left: 0px;
        float: none;
        padding-top: 15px;
        width: 100%;
        text-align: center;
    }
    .search-area {
        float: none;
        padding-top: 18px;
        padding-bottom: 15px;
        margin-right: 0px;
        width: 100%;
        text-align: center;
    }
    .hero-img img{
        height: 252px;
    }
    .work-small img {
        height: 77px;
        width: 110px;
    }
    .work-small p{
        font-size: 11px;
    }
    .work-small h2 {
        font-size: 15px;
    }
    .contact-today{
        text-align: center;
        padding: 3px 17px;
        
    }
    .contact-today-text{
        float: none;
    }
    .contact-today button{
        float: none;
    }
    .contact-today h1{
        font-size: 14px;
    }
    .contact-today p{
        font-size: 8px;
    }
    .contact-today button {
        font-size: 8px;
        padding: 7px 6px;
    }
   
    .about {
        text-align: center;
    }
    footer p {
        margin: 0 auto;
    }
    footer h1 {
        text-align: center;
        margin-top: 24px;
    }
    .contact-us {
        margin: 0 auto;
        text-align: center;
    }
    .about h1{
        margin-top: 0;
    }
    .contact-us input {
        width: 100%;
    }
    .contact-us textarea {
        width: 100%;
        height: 150px;
    }
    .copyright-area p{
        float: none;
        text-align: center;
        width: 100%;
    }
    .copyright-right{
        float: none;
    }
}    